.chat-window {
    max-width: 75%;
    margin: 0 auto
}

.chat-body {
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    margin-top: 10px;
}

.input-field {
    flex-grow: 1;
    margin-right: 10px;
}

.send-button {
    white-space: nowrap;
}